absl-py==2.1.0
ace_tools==0.0
ace_tools_open==0.1.0
aiodns==3.2.0
aiohttp==3.9.5
aiosignal==1.3.1
alpaca-trade-api==3.2.0
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
ansi2html==1.9.2
anyascii==0.3.2
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
auto-py-to-exe==2.44.1
Babel==2.15.0
backtrader==1.9.78.123
bangla==0.0.2
beautifulsoup4==4.12.3
binance-connector==3.9.0
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.0
catalogue==2.0.10
ccxt==4.3.90
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.18.1
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
confection==0.1.5
configobj==5.0.8
configparser==7.0.0
contourpy==1.2.1
coqpit==0.0.17
cot-reports==0.1.3
cryptography==42.0.8
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
dateparser==1.1.8
debugpy==1.8.2
decorator==4.4.2
deep-translator==1.11.4
deepmultilingualpunctuation==1.0.1
defusedxml==0.7.1
deprecation==2.1.0
docopt==0.6.2
doctr==1.9.0
docutils==0.21.2
easyocr==1.7.1
EbookLib==0.18
Eel==0.17.0
einops==0.8.0
encodec==0.1.1
et-xmlfile==1.1.0
etelemetry==0.3.1
executing==2.0.1
fastjsonschema==2.20.0
ffmpeg==1.4
filelock==3.15.4
fire==0.7.0
fitz==0.0.1.dev2
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
fpdf2==2.7.9
fqdn==1.5.1
free_proxy==1.1.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
futures==3.0.5
fuzzywuzzy==0.18.0
g2pkk==0.1.2
gast==0.6.0
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
goslate==1.5.4
gpt4all==2.7.0
greenlet==3.0.3
grpcio==1.64.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.0
gruut_lang_en==2.0.0
gruut_lang_es==2.0.0
gruut_lang_fr==2.0.2
gTTS==2.5.2
h11==0.14.0
h5py==3.11.0
hangul-romanize==0.1.0
hmmlearn==0.3.3
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.4
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==8.0.0
inflect==7.3.0
intel-openmp==2021.4.0
ipykernel==6.29.4
ipympl==0.9.4
ipynb-py-convert==0.4.6
ipython==8.26.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
iso639-lang==2.2.3
isodate==0.6.1
isoduration==20.11.0
itables==2.2.4
itsdangerous==2.2.0
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaleido==0.2.1
keras==3.5.0
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.23
langchain-text-splitters==0.2.2
langcodes==3.4.0
langdetect==1.0.9
langid==1.1.6
langsmith==0.1.93
language_data==1.2.0
larousse-api-sunbro==0.0.5
lazy_loader==0.4
legitindicators==0.0.72
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
looseversion==1.3.0
lxml==4.9.4
lxml_html_clean==0.2.1
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
MetaTrader5==5.0.4687
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.4.0
more-itertools==10.3.0
moviepy==1.0.3
mplcursors==0.5.3
mplfinance==0.12.10b0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.5
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.5.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==2.8.8
nibabel==5.2.1
ninja==1.11.1.1
nipype==1.8.6
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
ntplib==0.4.0
num2words==0.5.13
numba==0.60.0
numpy==1.26.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.6
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20231228
pdfplumber==0.11.2
peewee==3.17.5
pefile==2023.2.7
pillow==10.4.0
platformdirs==4.2.2
plotly==5.24.1
pooch==1.8.2
preshed==3.0.9
proglog==0.1.10
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.3
prov==2.0.1
psutil==6.0.0
pure-eval==0.2.2
pyarrow==17.0.0
pycares==4.4.0
pyclipper==1.3.0.post5
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.9.1
PyDictionary==2.0.1
pydot==2.0.0
pydub==0.25.1
pydyf==0.10.0
Pygments==2.18.0
pyharmonics==1.3.6
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyMultiDictionary==1.2.4
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pynndescent==0.5.13
pyparsing==3.1.2
pypdf==4.2.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
pyphen==0.15.0
pypinyin==0.51.0
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pysbd==0.3.4
PySocks==1.7.1
pytesseract==0.3.10
python-bidi==0.4.2
python-binance==1.0.19
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-doctr==0.8.1
python-dotenv==1.0.1
python-json-logger==2.0.7
pytube==15.0.0
pytubefix==6.3.4
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.4
rdflib==6.3.2
readability==0.3.1
readability-lxml==0.8.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-futures==1.0.2
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.19.0
safetensors==0.4.3
scikeras==0.13.0
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.14.0
scrapetube==2.5.1
seaborn==0.13.2
selenium==4.22.0
Send2Trash==1.8.3
shapely==2.0.4
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.7
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spyder-kernels==2.5.2
SQLAlchemy==2.0.31
srsly==2.4.8
stack-data==0.6.3
statsmodels==0.14.2
streamlit==1.38.0
SudachiDict-core==20240409
SudachiPy==0.6.8
sympy==1.12.1
ta==0.11.0
TA-Lib==0.4.32
tbb==2021.13.0
tenacity==8.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
textblob==0.18.0.post0
tf_keras==2.17.0
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2024.7.2
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.4.1
tpqoa==0.0.56
tqdm==4.66.4
trainer==0.0.36
traitlets==5.14.3
traits==6.3.2
transformers==4.42.3
trio==0.26.0
trio-websocket==0.11.1
TTS==0.22.0
typeguard==4.3.0
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
umap-learn==0.5.6
Unidecode==1.3.8
uri-template==1.3.0
urllib3==1.26.20
v20==3.0.25.0
wasabi==1.1.3
watchdog==4.0.2
wcwidth==0.2.13
weasel==0.4.1
weasyprint==62.3
webcolors==24.6.0
webdriver-manager==4.0.1
webdrivermanager==0.10.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.3
whichcraft==0.6.1
widgetsnbextension==4.0.13
winrt-runtime==2.1.0
winrt-Windows.Globalization==2.1.0
winrt-Windows.Graphics==2.1.0
winrt-Windows.Graphics.Imaging==2.1.0
winrt-Windows.Media.Ocr==2.1.0
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.1.3
yahooquery==2.3.7
yarl==1.9.4
yfinance==0.2.54
youtube-transcript-api==0.6.2
zipp==3.19.2
zope.event==5.0
zope.interface==7.0.1
zopfli==0.2.3
